<nav>

<ul>
  <li><a href="/">Home</a></li>
   <li class="dropdown">
    <a href="/develop" class="dropbtn">Development</a>
    <div class="dropdown-content">
      <a href="/develop/projects">My projects</a>
      <a href="/develop/wp">Web publishing</a>
    </div>
  </li>
  <li class="dropdown">
  	<a href="/hobby" class="dropbtn">Hobby</a>
  	<div class="dropdown-content">
  		<a href="/hobby/fun">Funny videos</a>
  	</div>
  </li>
  <li><a href="/cv">CV</a></li>  
  <li><a href="/blog">My blogs</a><li>
</ul>

</nav>
